* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  gap: 10px;
  padding: 2rem;
  height: 100vh;
  width: 100vw;
}

.App input {
  width: 40%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: large;
}

.main-button {
  margin: 1rem;
  padding: 0.5rem;
  color: black;
  outline: none;
  border: 1px solid red;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 20px;
  background-color: rgb(237, 107, 60);
  font-weight: bold;
}

.main-button:hover {
  background-color: rgb(240, 79, 20);
  cursor: pointer;
}

.todo {
  border: none;
  margin-top: 0.5rem;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  border-radius: 0.5rem;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.todo-button {
  padding: 0.5rem;
  font-weight: bold;
  right: 10%;
}

.todo-button:hover {
  cursor: pointer;
}
